= form_with method: :post, url: school_year_establishment_create_attributive_decisions_path(selected_school_year, establishment) do |form|
  - if !disabled
    = render partial: "shared/confirmed_director", locals: { message: t("validations.confirm_director") }
  = form.submit t("panels.attributive_decisions.generate", count: count), class: "fr-btn fr-btn--secondary", disabled: disabled, title: title